Package: com.contejus.test
Name: Test
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Test Theos setup with UIAlertView popup on respring.
Maintainer: contejus
Author: contejus
Section: Tweaks
