Package: com.contejus.test
Name: Test
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: contejus
Author: contejus
Section: Tweaks
